################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EWebShopUI/.vs/EWebShopUI
/EWebShopUI/.vscode
/EWebShopUI/obj/Debug
